.input:-webkit-autofill, .input:-moz-autofill, .input:-ms-autofill {
    background-color: #00000000;
}

/* 圖層設定 */

.politicbox{
    position: relative;
}


html{
    scroll-behavior: smooth;
}


#headerpolitics{
    display:block;
    position: absolute;
    height: 50px;
    top:0px;
    width: 100%;
    background-color: white;
    z-index: 11;
}

.sectionbox{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 100vh;
    overflow: visible;
}

@media (min-width:100px) {
    #title-h1{
        font-size: 45px;
        transition: font-size 0.3s ease-in-out;
    }
    .hastag{
        font-size: 18px;
        transition: font-size 0.3s ease-in-out;
    }
    .text p{
        font-size: 50px;
    }
    .contentbox{
        flex-direction:column ;
    }
    .politicbox{
        max-width: auto;
    }
    #introp{
        display: none;
    }
}

@media (min-width:500px) {
    #title-h1{
        font-size: 50px;
        transition: font-size 0.3s ease-in-out;
    }
    .hastag{
        font-size: 20px;
        transition: font-size 0.3s ease-in-out;
    }
    .text p{
        font-size: 70px;
    }
    .contentbox{
        flex-direction:column ;
    }
    .politicbox{
        max-width: auto;
    }
    
}

@media (min-width:600px) {
    #introp{
        display: block;
    }
}

@media (min-width:770px) {
    #title-h1{
        font-size: 90px;
        transition: font-size 0.3s ease-in-out;
    }

    .hastag{
        font-size: 30px;
        transition: font-size 0.3s ease-in-out;
    }
    .text p{
        font-size: 80px;
    }
    
}

@media (min-width:1070px) {
    .contentbox{
        flex-direction:row ;
    }
    .politicbox{
        width: 450px;
    }
}

#title-h1{
    margin: 0px;
    margin-bottom: 10px;
}

.title{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

.hastag{
    margin-bottom: 10px;
}

.hastag p{
    font-family: PingFangTC-Semibold;
    color: #0393C0;
}

#btnpaper{
    background-color: rgba(224, 224, 224, 0.518);
    color: #000000;
    border-radius: 100px;
    transition: background-color 0.2s ease-in-out;
    margin-top: 5px;

}

#btnpaper:hover{
    background-color: rgb(178, 175, 175);
    transition: background-color 0.2s ease-in-out;
}

#btnpaper:focus{
    outline: 1px solid #0393C0;
    outline-offset: 6px;
    transition: outline-offset 0.2s ease-in-out;
}

.pbtn{
    display: flex;
    justify-content: center;
}

.pbtn svg{
    height: 18px;
    width: 18px;
    display:flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: 2px;
    margin-left: 5px;
    margin-right: 0px;
}

/* 內容 */
.introbox{
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    z-index: 1;
    background-color: white;
    padding: 10px;
    transition: box-shadow 0.2s ease-in-out;
    z-index:10;
}


.introbox p{
    position: absolute;
    left: 40px;
    font-size: 18px;
    opacity: 0;
    font-family: PingFangTC-Medium;
}


.introbox p.active{
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.introbox.active{
    position: sticky;
    top: 0px;
    box-shadow: 0px 5px 10px #cbcbcb81;
    transition: box-shadow 0.2s ease-in-out;
}

#forp{
    height: auto;
    box-sizing: border-box;
    margin: 5px;
    display: flex;
    flex-direction: row;
}

.box-nav{
    display: block;
    background-color: rgba(227, 223, 223, 0.547);
    backdrop-filter: blur(10px);
    border-radius: 100px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}


.box-nav button{
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    background-color: #ffffff00;
    color: black;
    border-radius: 100px;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
    text-decoration: none;
    border: 0px;
    font-family: PingFangTC-Medium;
    font-size: 14px;
    visibility: show;
    opacity: 1;
    transition:visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: 2px;
}

@media (min-width:100px) {
    .box-nav button{
        font-size: 15px;
    }
    .box-nav svg{
        width: 14px;
        height: 14px;
    }
    .box-nav{
        width: 305.48px;
        transition: width 0.2s ease-in-out;
    }
}

@media (min-width:770px) {
    .box-nav button{
        font-size: 17px;
    }

    .box-nav svg{
        width: 18px;
        height: 18px;
    }

    .box-nav{
        width: 326.97px;
        transition: width 0.2s ease-in-out;
    }

}

.box-nav button:hover, .box-nav button:active{
    background-color: rgb(203, 203, 203);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.box-nav button.active{
    background-color: black;
    color: white;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#button5.fadein{
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

#button5.hidden{
    display: none;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
}

#button5{
    position: fixed;
    right: 25px;
    bottom: 25px;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px #ccc;
    border: 0px;
    border-radius: 100px;
    padding: 10px;
    z-index: 3;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

#button5.active{
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}

#button5:hover{
    background-color: #d2d3d4;
    transition: background-color 0.2s ease-in-out;
}



#ar{
    background: linear-gradient(to bottom, #ffffff ,#ebecef)
}

.box{
    padding-top: 10px;
    display: block;
    z-index: 0;
    background-color: #ebecef;
}



.boxtitle{
    border-radius: 25px;
    margin: 25px;
    background-size:cover ;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.boxtitle::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.286);
    z-index: 1;
    position: relative;
    border-radius: 25px;
}

/* 背景圖片設定 */
#artitle{
    background-image: url(./image/24070312_l.jpg);
}

#eatitle{
    background-image: url(./image/party.jpg);
}

#edutitle{
    background-image: url(./image/edu.jpg);
}

#eititle{
    background-image: url(./image/ei.jpg);
}

.text p{
    opacity: 1;
    color: rgb(255, 255, 255);
    display: block;
    border-radius: 50px;
    font-family: PingFangTC-Semibold;
    z-index: 1;
    transition: font-size 0.2s ease-in-out;
}

.text h6{
    z-index: 1;
    color: white;
    margin: 0px;
    margin-top: 5px;
    font-size: 24px;
    font-family: IBMPlexMono-Medium;
}

.text{
    z-index: 1;
    position: absolute;
    text-align: center;
}
.contentbox{
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.nav-ul{
    list-style: none;
    display: flex;
    border-bottom: 1px solid #ccc;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
}

.nav-ul li{
    font-family: IBMPlexMono-Medium;
}

.nav-ul button {
    background: none;
    border: none;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #898989;
}

.nav-ul button:hover{
    color: #000000;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

/* 當前激活的標籤的樣式 */
.nav-ul button.active {
    font-weight: bold;
    color: #000000;
}

#content-container {
    margin-top: 20px;
}

.politicbox{
    border-radius: 20px;
    padding: 0px;
    background-color: white;
    margin: 20px;
    margin-left: 15px;
    margin-right: 15px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
@media (min-width:770px) {
    .politicbox:hover{
        box-shadow: 5px 5px 15px #d2d3d4;
        transform: scale(1.02);
        transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    }
}

.politicbox h1{
    margin: 20px;
}

.p-h2{
    display: block;
    color: white;
    background-color: #0077ff;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left:20px; 
}

/* 底線樣式 */
.underline {
    position: absolute;
    height: 2px;
    background-color: black;
    z-index: 2;
    width: var(w, 0px);
    transform: translateX(0px);
    transition: transform 0.2s ease-in-out, width 0.2s ease-in-out;
}
.content-container{
    margin: 20px;
}

#nameinput{
    margin-bottom: 20px;
    height: 60px;
}

#emailinput{
    margin-bottom: 50px;
}

.emailinput{
    position: relative;
    padding-left:15px ;
    padding-right: 10px;
    background-color: #ededed;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;

}



.emailinput:hover{
    background-color: #d6d6d6;
    transition: background-color 0.2s ease-in-out;
}

#emailForm{
    display: flex;
    flex-direction: column;
}

.inputlabel{
    position: absolute;
    top: 50%; /* 將子元素的頂部移到容器高度的 50% 處 */
    left: 20px;
    transform: translateY(-50%);
    transition: font-size 0.15s ease-in-out, top 0.15s ease-in-out, left 0.15s ease-in-out, color 0.15s ease-in-out ;
    z-index: 0;
}

.inputlabel.active{
    color: #0564d0;
    font-size: 12px;
    position: absolute;
    top: 20px; /* 將子元素的頂部移到容器高度的 50% 處 */
    left: 15px;
    transform: translateY(-50%);
    transition: font-size 0.15s ease-in-out, top 0.15s ease-in-out, left 0.15s ease-in-out, color 0.15s ease-in-out ;
}



.input{
    padding-top: 25px;
    height: 25px;
    border: 0px;
    width: 100%;
    background-color: transparent;
    border-radius: 10px;
    height: 60px;
    position: relative;
    z-index: 2;
    font-size: 16px;
}

.input:focus{
    border: 0px;
    border-radius: 0px;
    outline: none;
}

.line{
    position: absolute;
    left: 0px;
    z-index: 4;
    width: 0px;
    transition: width 0.2s ease-in-out;
    border: 0px;
    margin: 0px;
}

.line.active{
    width: 100%;
    transition: width 0.2s ease-in-out;
    border: 1px solid #0564d0;
}

.savebtn{
    border: 0px;
    background-color: #000000;
    border-radius: 10px;
    position: absolute;
    z-index: 4;
    bottom: 15px;
    right: 20px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    font-size: 16px;
    font-family: PingFangTC-Medium;
}

.savebtn:hover{
    background-color: #000000d0;
}